@{
    Layout = null;
}

<html ng-app="Imibuza">
<head>
   @* <title ng-bind="models.helloAngular"></title>*@
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-aria.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/Timeline/angular-ui-router.js"></script>
    <script src="~/Scripts/Timeline/angular-timeline-animate.js"></script>
    <script src="~/Scripts/angular-timeline.js"></script>

    <link href="~/Content/Styling/Timeline/angular-timeline.css" rel="stylesheet" />
    <link href="~/Content/Styling/Timeline/angular-timeline-images.css" rel="stylesheet" />
    <link href="~/Content/Styling/Timeline/angular-timeline-animations.css" rel="stylesheet" />
    <link href="~/Content/Styling/Timeline/angular-timeline-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Styling/fonts.css" rel="stylesheet"/>
    <link href="~/Content/Styling/imibuza.css" rel="stylesheet"/>
    
    <script src="~/app/Imibuza.js"></script>

    <base href="/" />
</head>
<body>
    <header class="header">
        <img src="~/Content/Images/Imibuza-Logo-Dark.png"/>
        <div class="left-menu-item">
            <a href="/">Home</a>
        </div>

        <div class="right-menu-item">
            <a>logoff</a>
        </div>

    </header>
<div class="view" ng-view></div>

</body>
</html>