@{
    Layout = null;
}

<html ng-app="Imibuza">
<head>
    <title ng-bind="models.helloAngular"></title>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>

    <link href="~/Content/Styling/imibuza.css" rel="stylesheet" />
    <script src="~/app/Imibuza.js"></script>

    <base href="/" />
</head>
<body>
    <div class="header">
        <img src="~/Content/Images/Imibuza-Logo-Dark.png" />
    </div>
    <div class="view" ng-view></div>
</body>
</html>