<link href="~/Content/Styling/landing-page.css" rel="stylesheet"/>
<link href="~/Content/Styling/buttons.css" rel="stylesheet" />

<div id="landingPage">
    <div class="landing-page">

        <div class="advertizing">
            <img src="~/Content/Images/Imibuza-Logo-White.png" />
            <div class="more-about">
                ('quiz' in Zulu) is our latest initiative to enpower everyone to share knowledge and to learn as they play.
            </div>
                    <img src="~/Content/Images/mwabo.png"/> 
                    <div class="more-about">
                        Mwabu creates modern interactive e-learning content and resources for African learners
                    </div>
 
                    <form action="../Account/Register">
                        <input class="btn btn-bubble-black" type="submit" value="register"/>
                    </form>
                    <form action="../Account/Login">
                        <input class="btn btn-bubble-orange" type="submit" value="login"/>
                    </form>
                </div>
           
            
        </div>
    </div>
