<link href="~/Content/Styling/dashboard.css" rel="stylesheet"/>

<div ng-controller="HomeController">

    <div class="dashboard">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="no-stats-left">
                    @*<div>
                         <label> start doing quizes and see where your strengths are</label>
                    </div>*@
                    <div class="stats">
                        <div class="stats-header">
                            strength & weakness
                        </div>
                        <div class="strengths">
                            <div>
                                <div class="stats-loader">Technology</div>
                                <label>score: 89/10 (92%)</label>
                            </div>
                            <div>
                                <div class="stats-loader">Technology</div>
                                <label>score: 89/10 (92%)</label>
                            </div>
                            <div>
                                <div class="stats-loader">Technology</div>
                                <label>score: 89/10 (92%)</label>
                            </div>
                        </div>
                        <div class="weakness">
                            <div>
                                <div class="stats-loader">Biology</div>
                                <label>score: 89/10 (92%)</label>
                            </div>
                            <div>
                                <div class="stats-loader">Biology</div>
                                <label>score: 89/10 (92%)</label>
                            </div>
                            <div>
                                <div class="stats-loader">Biology</div>
                                <label>score: 89/10 (92%)</label>
                            </div>

                        </div>
                    </div>

                    
                </div>
                <div class="doquiz" ng-click="doQuiz()">
                    <div class="button" >
                        <img src="~/Content/Images/StartQuiz.png" />
                    </div>
                    <div class="info">
                        <label>You have answered <strong>0</strong> questions</label>
                        <label>Your result: <strong>0%</strong></label>
                        <div class="fun-fact">
                            It is a scientific fact that doing quizes are like lifting weights with your brain!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="create" ng-click="createQuiz()">
                    <div class="info">
                        <label>Do you know something that you want other to know?</label>
                        
                    </div>
                    <div class="button" >
                        <img src="~/Content/Images/CreateAQuestion.png"/>
                    </div>
                </div>
                <div class="no-stats-right">
                    <div>
                            <label>As soon as you start, we will show you what you were up to</label>
                        
                    </div>
                    
                </div>
            </div>



        </div>
    </div>
    </div>






