<link href="~/Content/Styling/dashboard.css" rel="stylesheet"/>

<div class="background" ng-controller="HomeController">

    <div class="dashboard">
        <div class="col-md-12">
            <div class="col-md-7">
                
                <div class="col-md-12">
                    <div class="doquiz" ng-click="doQuiz()">
                        <div class="button">
                            <img src="~/Content/Images/StartQuiz.png" />
                        </div>
                        <div class="info">
                           
                            <div class="fun-fact">
                                It is a scientific fact that doing quizes are like lifting weights with your brain!
                            </div>
                        </div>
                    </div>

                    <div class="create" ng-click="createQuiz()">
                        <div class="info">
                            <label>Do you know something that you want others to know?</label>

                        </div>
                        <div class="button">
                            <img src="~/Content/Images/CreateAQuestion.png" />
                        </div>
                    </div>
                </div>
                
                <div class="no-stats-left">
                    <div class="no-data-small" ng-show="strengths.length == 0 && weaknesses.length == 0 ">
                        <img src="~/Content/Images/Chart.png" />
                        <label>We will track your strenghts and weaknesses here</label>
                    </div>
                    <div class="stats" ng-show="strengths.length > 0 || weaknesses.length > 0 ">
                        <div class="stats-header">
                            strength & weakness
                        </div>
                        <div class="strengths">
                            <div  ng-repeat="strength in strengths">
                                <div class="stats-loader" ng-style="{ 'width' : strength.Percentage + '%' }">{{strength.Category}}</div>
                                <label>{{strength.Category}} - {{strength.Value}}</label>
                            </div>
                           </div>
                        <div class="weakness" >
                            <div ng-repeat="weakness in weaknesses">
                                <div class="stats-loader" ng-style="{ 'width' : strength.Percentage + '%'  }">{{weakness.Category}}</div>
                                <label>{{weakness.Category}} - {{weakness.Value}}</label>
                            </div>
                           </div>
                    </div>


                </div>

            </div>
            <div class="col-md-5">
               
                <div class="no-stats-right">
                    <div>
                        <div class="no-data"ng-show="events.length == 0">
                            <img src="~/Content/Images/Calendar.png" />
                            <label>As soon as you start, you can view your history here</label>
                        </div>
                        

                        <timeline ng-show="events.length > 0">
                            <timeline-event ng-repeat="event in events">
                                <timeline-badge when-visible="animateElementIn" when-not-visible="animateElementOut">

                                </timeline-badge>

                                <timeline-panel when-visible="animateElementIn" when-not-visible="animateElementOut">
                                    <timeline-heading>
                                        <h5>{{event.Question}}</h5>
                                        <p ng-if="event.CompletedOn">
                                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{event.CompletedOn}}</small>
                                        </p>
                                    </timeline-heading>
                                </timeline-panel>
                            </timeline-event>
                        </timeline>

                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    </div>






