<link href="~/Content/Styling/do-quiz.css" rel="stylesheet" />


<div class="background" ng-controller="DoQuizController" align="center">
    <div class="quiz">
        <div class="quiz-header">{{quiz.category}}</div>
        <div class="question">{{quiz.question}}</div>
        
        <div ng-repeat="answer in quiz.answers">
            <selection answer="answer" source="quiz.answers" submit="submitAnswer()"></selection>
        </div>
        
        <div class="message">{{result}}</div>
       
        <button class="cancel-button" ng-click="cancel()">cancel</button>
    </div>

</div>