<link href="~/Content/Styling/do-quiz.css" rel="stylesheet" />


<div class="background" ng-controller="DoQuizController" align="center">
    
    <div >
        <div class="loader" ng-show="loading">
            <img src="~/Content/Images/loader.png"/>
        </div>

        <div class="quiz" ng-show="!loading">
            <div class="quiz-header">{{quiz.Category}}</div>
            <div class="question">{{quiz.Question}}</div>

            <div ng-repeat="answer in quiz.Answers">
                <selection answer="answer" source="quiz.Answers" submit="submitAnswer(answer)"></selection>
            </div>

            <div class="message">{{result}}</div>

            <button class="cancel-button" ng-click="cancel()">cancel</button>
        </div>
    </div>


</div>