<link href="~/Content/Styling/do-quiz.css" rel="stylesheet" />


<div ng-controller="DoQuizController" align="center">
    <div class="quiz">
        <div class="quiz-header">Technology</div>
        <div class="question">Who was the 2nd US president?</div>
        
       @* <label>Choose the correct answer</label>*@
        
        <div class="option">Donald Trump</div>
        <div class="option">Jacob Zuma</div>
        <div class="option">Mickey Mouse</div>
        <div class="option">None</div>
        
        <button class="left-button">cancel</button>
        <button class="right-button">next</button>
    </div>

</div>