
<link href="~/Content/Styling/landing-page.css" rel="stylesheet" />

@{
    ViewBag.Title = "Log in";
}


<div id="landingPage">
    <div class="landing-page">
        <div class="col-md-11">
            <div class="col-md-4">
                <div class="logo">
                    <a href="../Home">
                     <img src="~/Content/Images/Imibuza-Logo-White.png"/>
                    </a>
            </div>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <div class="loginAndRegistration">

                   @Html.Partial("../Home/Partials/_LoginPage")

                </div>
            </div>
        </div>


    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}