$navHeight: 70px;
$font-size-header: 36px;

$color-main: #F46506;
$color-text: #282828;
$color-text-rgba: rgba(40, 40, 40, 0.4);
$dark-background-opacity:rgba(255,255,255,0.4); 

$font-size-large: 20px;
$font-size-main: 16px;
$font-size-small: 11px;

$button-height: 50px;

$transition: all 0.3s;

$max-width: 400px;