$navHeight: 70px;


$color-main: #F46506;
$color-alternative: #595959;
$color-selection: #009ACE;

$color-text: #282828;
$color-text-rgba: rgba(40, 40, 40, 0.4);
$dark-background-opacity:rgba(255,255,255,0.4); 

$font-size-header: 36px;
$font-size-sub: 30px;

$font-size-large: 20px;
$font-size-medium: 18px;
$font-size-main: 16px;
$font-size-small: 11px;

$button-height: 50px;

$transition: all 0.3s;

$max-width: 400px;

$font-family: "Imibuza Main"