@import '_mixins.scss';
@import '_variables.scss'; 

.btn-black{
    @include button($color-text, white, 100%, null, 0 0 0 100px)
}

.btn-orange{
    @include button($color-main, white, 100%, null,  0 0 0 100px)
}

.btn-bubble-black{
    margin: 5px;
    border-radius: 0;
    width: 50%;
    height: 40px;
    background-color: $color-text;
    font-size: $font-size-main;
    transition: $transition;
    border: 0;
    color: white;
     &:hover{
        background-color: darken($color-text,10);
        color: white;
    }
}

.btn-bubble-orange{
    margin: 5px;
    border-radius: 0;
    width: 50%;
    height: 40px;
    background-color: $color-main;
    font-size: $font-size-main;
    transition: $transition;
    border: 0;
    color: white;
     &:hover{
        background-color: darken($color-main,10);
        color: white;
    }
}

//width: $width;
//    border-radius: 0;
//
//    @if $float{
//        float: $float;
//    }
//
//    
//    height: $button-height !important;
//    border-bottom-left-radius: 100px !important;
//    background-color: $color;
//    font-size: $font-size-main;
//    color: $fontColor;
//    transition: $transition;
//    border: 0;
//    &:hover{
//        background-color: darken($color,10);
//        color: white;
//    }