.dashboard {
  min-height: 200px;
  overflow: auto;
  padding: 20px 0; }
  .dashboard .no-stats-left {
    position: relative;
    position: relative;
    background-color: #f2f2f2;
    width: 100%;
    height: 360px;
    margin: 25px 0;
    border-radius: 50px 0 0 0;
    background-image: url("../Images/Mwabu-transparent.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover; }
    .dashboard .no-stats-left .stats .stats-header {
      width: 100%;
      height: 18%;
      font-family: 'Imibuza Main';
      text-align: center;
      padding-top: 20px;
      font-size: 20px; }
    .dashboard .no-stats-left .stats .strengths {
      float: left;
      width: 50%;
      height: 75%;
      border-right: 5px solid #595959; }
      .dashboard .no-stats-left .stats .strengths div {
        width: 100%;
        height: 60px; }
        .dashboard .no-stats-left .stats .strengths div .stats-loader {
          width: 90%;
          float: right;
          height: 30px;
          line-height: 30px;
          color: white;
          font-size: 16px;
          background-color: #F46506;
          opacity: 0.6;
          border-radius: 0 0 0 20px;
          text-align: right;
          padding: 0 15px; }
        .dashboard .no-stats-left .stats .strengths div label {
          font-weight: normal;
          float: right;
          padding: 2px 10px 0 0; }
    .dashboard .no-stats-left .stats .weakness {
      float: left;
      width: 50%;
      height: 75%;
      border-left: 5px solid #595959; }
      .dashboard .no-stats-left .stats .weakness div {
        width: 100%;
        height: 60px; }
        .dashboard .no-stats-left .stats .weakness div .stats-loader {
          width: 90%;
          float: left;
          height: 30px;
          line-height: 30px;
          color: white;
          font-size: 16px;
          background-color: #595959;
          opacity: 0.6;
          border-radius: 0 0 20px 0;
          text-align: left;
          padding: 0 15px; }
        .dashboard .no-stats-left .stats .weakness div label {
          font-weight: normal;
          float: left;
          padding: 2px 0 0 10px; }
  .dashboard .no-stats-right {
    position: relative;
    position: relative;
    background-color: #f2f2f2;
    width: 100%;
    height: 360px;
    margin: 25px 0;
    border-radius: 0 0 50px 0;
    background-image: url("../Images/Mwabu-2-transparent.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover; }
    .dashboard .no-stats-right .stats .stats-header {
      width: 100%;
      height: 18%;
      font-family: 'Imibuza Main';
      text-align: center;
      padding-top: 20px;
      font-size: 20px; }
    .dashboard .no-stats-right .stats .strengths {
      float: left;
      width: 50%;
      height: 75%;
      border-right: 5px solid #595959; }
      .dashboard .no-stats-right .stats .strengths div {
        width: 100%;
        height: 60px; }
        .dashboard .no-stats-right .stats .strengths div .stats-loader {
          width: 90%;
          float: right;
          height: 30px;
          line-height: 30px;
          color: white;
          font-size: 16px;
          background-color: #F46506;
          opacity: 0.6;
          border-radius: 0 0 0 20px;
          text-align: right;
          padding: 0 15px; }
        .dashboard .no-stats-right .stats .strengths div label {
          font-weight: normal;
          float: right;
          padding: 2px 10px 0 0; }
    .dashboard .no-stats-right .stats .weakness {
      float: left;
      width: 50%;
      height: 75%;
      border-left: 5px solid #595959; }
      .dashboard .no-stats-right .stats .weakness div {
        width: 100%;
        height: 60px; }
        .dashboard .no-stats-right .stats .weakness div .stats-loader {
          width: 90%;
          float: left;
          height: 30px;
          line-height: 30px;
          color: white;
          font-size: 16px;
          background-color: #595959;
          opacity: 0.6;
          border-radius: 0 0 20px 0;
          text-align: left;
          padding: 0 15px; }
        .dashboard .no-stats-right .stats .weakness div label {
          font-weight: normal;
          float: left;
          padding: 2px 0 0 10px; }
  .dashboard .create {
    position: relative;
    background-color: #595959;
    width: 100%;
    height: 150px;
    margin: 25px 0;
    border-radius: 0; }
    .dashboard .create .info {
      position: relative;
      text-align: center;
      color: white;
      float: left;
      width: 70%;
      height: 100%;
      transition: all 0.3s; }
      .dashboard .create .info label {
        font-size: 20px;
        font-family: 'Roboto Light';
        font-weight: normal;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.9; }
    .dashboard .create .button {
      position: relative;
      float: left;
      width: 30%;
      height: 100%;
      background-color: #F46506;
      transition: background-color 0.3s; }
      .dashboard .create .button img {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .dashboard .create:hover {
      cursor: pointer; }
      .dashboard .create:hover .button {
        background-color: #009ACE !important; }
      .dashboard .create:hover .info {
        background-color: #666666 !important; }
  .dashboard .doquiz {
    position: relative;
    background-color: #595959;
    width: 100%;
    height: 150px;
    margin: 25px 0;
    border-radius: 0; }
    .dashboard .doquiz .info {
      position: relative;
      color: white;
      float: left;
      width: 50%;
      height: 100%;
      text-align: center;
      padding: 15px;
      font-family: 'Roboto Light';
      transition: all 0.3s; }
      .dashboard .doquiz .info label {
        font-size: 16px;
        font-weight: normal;
        opacity: 0.9; }
      .dashboard .doquiz .info .fun-fact {
        margin-top: 5px;
        opacity: 0.3; }
    .dashboard .doquiz .button {
      position: relative;
      float: left;
      width: 50%;
      height: 100%;
      background-color: #F46506;
      transition: background-color 0.3s; }
      .dashboard .doquiz .button img {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .dashboard .doquiz:hover {
      cursor: pointer; }
      .dashboard .doquiz:hover .button {
        background-color: #009ACE !important; }
      .dashboard .doquiz:hover .info {
        background-color: #666666 !important; }

/*# sourceMappingURL=dashboard.css.map */
