@import '_mixins.scss';
@import '_variables.scss';


@keyframes shrink {
  0% {
    background-size: 110% 110%;
  }
  100% {
    background-size: 100% 100%;
  }
}


.landing-page{
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url(../Images/LandingPage.jpg);
    background-repeat: no-repeat;
    background-position: left bottom; 
    background-size: cover;
   
     .logo{
        position: absolute;
        top: 10px;
        left: 20px;
        max-width: 200px;
        width: 50%;
        max-height: 100px;
        img{
            margin-top: 10px;
            width: 100%;
            transition: all 0.5s;
        }
    }

    .text-danger{
        width: 100%;
        
        overflow: auto;
        padding: 5px 25px;
        font-size: $font-size-small;
        ul{
            padding: 0;
            text-align: center;
            list-style-type: none;


        }
        &:empty{
            display: none;
        }
    }

    .loginAndRegistration{
        position: relative;
        margin-top: 20px;
        width: 100%;
        overflow: auto;
        min-height: 410px;
        max-width: $max-width;
        background: rgba(255,255,255,0.7);
        border-top-right-radius: 30px;
        border-bottom-left-radius: 60px;
        //padding: 40px;
        
        .header{
            width: 100%;
            height: 80px;
            font-family: 'Imibuza Main';
            text-align: center;
            font-size: $font-size-header;
            line-height: 80px;
            color: lighten($color-text,30);
            //opacity: 0.5;
        }
        .quote{
            width: 100%;
            height: 100px;
        }
        .slogan{
            position: relative;
            margin-top: -10px;
            width: 100%;
            height: 27px;
            text-align: center;
            img{
                height: 100%;
            }
            
        }
        .details{
            width: 100%;
            min-height: 30px;
            padding: 10px 0 15px ;
            .form-group{
                width: 100%;
                margin: 0;
                padding: 0;
                input{
                    text-align: center;
                    height: 40px;
                    border-radius: 0;
                    outline:none;
                    margin: 5px 0 !important;
                    width: 90%;
                    font-size: $font-size-main;
                    border: 0;
                }
            }

           

            label{
                color: $color-text;
                font-family:'Roboto Light';
                font-weight: normal;
                margin-top: 5px;
                opacity: 0.8;
            }
            a{
                margin-top: 5px;
                color: $color-text;
                font-family:'Roboto Light';
                font-weight: bold;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .mwabu{
            position: absolute;
            bottom: 0;
            width: 100%;
            img{
                width: 40%;
            }
        }

        .welcome-message{
            width: 100%;
            margin-top: 30px;
            
            font-family: "Imibuza Main";
            text-align: center;
            color: $color-main;
            font-size: $font-size-header;
        }
    }

}

/*///////////////////*/

.advertizing{

    border-radius: 30px;

  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

    max-width: 450px;
    width: 90%;
    min-height: 200px;
    padding-bottom: 20px;
    background-color: $color-text-rgba;
    text-align: center;
    img{
        margin: 15px 0;
        width: 50%;
    }

    .more-about{
        padding: 5px 20px;
        font-size: $font-size-large;
        width: 100%;
        min-height: 100px;
        font-family: 'VAG Rounded Bold';
        color: white;
        //text-shadow: 2px 2px inherit;
    }
}